.highlight .hll {background-color: #ffffcc}
.highlight {background-color: #f8f8f8}.highlight .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.highlight .bp {color: #3465a4; } /* :name_builtin_pseudo */
.highlight .c {color: #8e908c; } /* :comment */
.highlight .c1 {color: #8e908c; } /* :comment_single */
.highlight .ch {color: #8e908c; } /* :comment_hashbang */
.highlight .cm {color: #8e908c; } /* :comment_multiline */
.highlight .cp {color: #8e908c; } /* :comment_preproc */
.highlight .cpf {color: #8e908c; } /* :comment_preproc_file */
.highlight .cs {color: #8e908c; } /* :comment_special */
.highlight .dl {color: #4e9a06; } /* :string_delimiter */
.highlight .err {color: #a40000; border: #ef2929; } /* :error */
.highlight .fm {color: #000000; } /* :name_function_magic */
.highlight .g {color: #000000; } /* :generic */
.highlight .gd {color: #a40000; } /* :generic_deleted */
.highlight .ge {color: #000000; font-style: italic; } /* :generic_emph */
.highlight .gh {color: #000080; font-weight: bold; } /* :generic_heading */
.highlight .gi {color: #00A000; } /* :generic_inserted */
.highlight .go {color: #000000; font-style: italic; } /* :generic_output */
.highlight .gp {color: #8f5902; } /* :generic_prompt */
.highlight .gr {color: #ef2929; } /* :generic_error */
.highlight .gs {color: #000000; font-weight: bold; } /* :generic_strong */
.highlight .gt {color: #a40000; font-weight: bold; } /* :generic_traceback */
.highlight .gu {color: #800080; font-weight: bold; } /* :generic_subheading */
.highlight .il {color: #0000cf; font-weight: bold; } /* :number_integer_long */
.highlight .k {color: #204a87; font-weight: bold; } /* :keyword */
.highlight .kc {color: #204a87; font-weight: bold; } /* :keyword_constant */
.highlight .kd {color: #204a87; font-weight: bold; } /* :keyword_declaration */
.highlight .kn {color: #204a87; font-weight: bold; } /* :keyword_namespace */
.highlight .kp {color: #204a87; font-weight: bold; } /* :keyword_pseudo */
.highlight .kr {color: #204a87; font-weight: bold; } /* :keyword_reserved */
.highlight .kt {color: #204a87; font-weight: bold; } /* :keyword_type */
.highlight .l {color: #000000; } /* :literal */
.highlight .ld {color: #000000; } /* :literal_date */
.highlight .m {color: #0000cf; font-weight: bold; } /* :number */
.highlight .mb {color: #0000cf; font-weight: bold; } /* :number_bin */
.highlight .mf {color: #0000cf; font-weight: bold; } /* :number_float */
.highlight .mh {color: #0000cf; font-weight: bold; } /* :number_hex */
.highlight .mi {color: #0000cf; font-weight: bold; } /* :number_integer */
.highlight .mo {color: #0000cf; font-weight: bold; } /* :number_oct */
.highlight .n {color: #000000; } /* :name */
.highlight .na {color: #c4a000; } /* :name_attribute */
.highlight .nb {color: #204a87; } /* :name_builtin */
.highlight .nc {color: #5c35cc; } /* :name_class */
.highlight .nd {color: #5c35cc; font-weight: bold; } /* :name_decorator */
.highlight .ne {color: #cc0000; font-weight: bold; } /* :name_exception */
.highlight .nf {color: #000000; } /* :name_function */
.highlight .ni {color: #ce5c00; } /* :name_entity */
.highlight .nl {color: #f57900; } /* :name_label */
.highlight .nn {color: #000000; } /* :name_namespace */
.highlight .no {color: #000000; } /* :name_constant */
.highlight .nt {color: #204a87; font-weight: bold; } /* :name_tag */
.highlight .nv {color: #000000; } /* :name_variable */
.highlight .nx {color: #000000; } /* :name_other */
.highlight .o {color: #ce5c00; font-weight: bold; } /* :operator */
.highlight .ow {color: #204a87; font-weight: bold; } /* :operator_word */
.highlight .p {color: #000000; } /* :punctuation */
.highlight .py {color: #000000; } /* :name_property */
.highlight .s {color: #4e9a06; } /* :string */
.highlight .s1 {color: #4e9a06; } /* :string_single */
.highlight .s2 {color: #4e9a06; } /* :string_double */
.highlight .sa {color: #4e9a06; } /* :string_affix */
.highlight .sb {color: #4e9a06; } /* :string_backtick */
.highlight .sc {color: #4e9a06; } /* :string_char */
.highlight .sd {color: #8f5902; font-style: italic; } /* :string_doc */
.highlight .se {color: #4e9a06; } /* :string_escape */
.highlight .sh {color: #4e9a06; } /* :string_heredoc */
.highlight .si {color: #4e9a06; } /* :string_interpol */
.highlight .sr {color: #4e9a06; } /* :string_regex */
.highlight .ss {color: #4e9a06; } /* :string_symbol */
.highlight .sx {color: #4e9a06; } /* :string_other */
.highlight .sx {color: #4e9a06; } /* :string_sigil */
.highlight .vc {color: #000000; } /* :name_variable_class */
.highlight .vg {color: #000000; } /* :name_variable_global */
.highlight .vi {color: #000000; } /* :name_variable_instance */
.highlight .vm {color: #000000; } /* :name_variable_magic */
.highlight .x {color: #000000; } /* :other */
